.container-primary-options{
    display: flex;
    padding: 10px;
    height: 10vh;
    height: max-content;
    
}

.content-filter-svg-liquidation{
    width: 50px;
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; 
}


.content-dinamic-filter-options{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.box-input-filter-options{
  position: relative;
  width: 300px;
}

.box-input-filter-options input {
  width: 100%;
  padding: 12px 14px 12px 12px; /* espacio para el icono */
  border: 1px solid #2a2a2a;
  border-radius: 6px;
  font-size: 14px;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: #ffffff;
  transition: all 0.2s ease;
}

/* foco elegante */
.box-input-filter-options input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
}

/* icono */
.box-input-filter-options svg {
  position: absolute;
  right:12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #666;
  pointer-events: none;
}


/*BODY */
.container-body-deals{
    padding: 10px;
    display: flex;
    justify-content: center;
}





