/* :root{
    --color: rgb(12, 12, 162);
} */


.container-register{
    min-height: 100vh;
    display: flex;
    --color: #4570B4;
}


.box-register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-family:tahoma, Verdana, Tahoma, sans-serif;
    background-color: var(--color);
}

.register-form{
    background-color: snow;
    border-radius: 5px;
    width: 350px;
    height: max-content;
    max-height: 500px;
    padding: 20px;
}

.register-form div{
    padding: 10px;
}

.register-form h2 {
  text-align: center;  /* centra el texto horizontalmente */
  margin-bottom: 20px; /* opcional: separa del resto del formulario */
}

.register-form div label{
  height: 20px;
}

.register-form div input{
    height: 30px;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: rgb(234, 229, 223);
    padding: 10px;
}

.register-form div > *{
    display: block;
    width: 100%;
}


.div-buttons{
    display: flex;
    justify-content: center;
    gap: 15px; /* espacio entre botones */
}

.div-buttons button{
    width: 50%;
    height: 30px;
    border: none;
    outline: none;
}

.div-buttons button:first-child{
    background-color: rgb(5, 241, 68);
}

.div-buttons button:last-child{
    background-color: #2f5597;
    color: white;
    
}