/* :root{
    --header: rgb(9, 23, 228); 
    --header:  rgb(30, 30, 227)
   
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-application{
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.container-nav-application{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 60px;
    border-radius: 0px 2px 0px 2px;
    display: flex;
    align-items: center; 
    justify-content:space-between;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(202, 210, 42); 
    background-color:#fff;
    z-index: 1000;

}


.div-nav-application-cue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    padding: 5px;
}

.div-nav-application-cue img{
    width: 150px;
    height: auto;
    object-fit: contain;
    background-color: transparent;

}

.container-content-app{
    display: flex;
    width: 100vw;
    flex: 1;
}

.nav-options-pages{
    /* z-index:100; */
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 90vh;
    background-color: #3370b4;
}

.nav-options-pages a{
    color:white;
    padding:15px 20px;
    /* text-decoration:none; */
    font-family: sans-serif;
    font-size: .88em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}


.father-div-content-aplication{
    width: 90vw;
    padding: 20px;
}


.sweet-grey{
    background-color: rgba(0, 22, 162, 0.973);
    border-radius: 5px;
}

.div-nav-auth{
    display: flex;
    align-items: center;
    margin-right: 5px;
    flex: 1;
    
}

.div-nav-profile{
    width: 60%;
    text-align: right;
    
}

.div-link-redirection{
    font-weight: bold;
}

.div-nav-profile a{
    font-weight: bold;
}

.div-close-session{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 30px;
}

/* quitar bordes y fondo icono profile */
.div-close-session button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-nav-auth a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}





.container-nav-application nav a{
    text-decoration: none;
    /* color: aliceblue; */
  
}
/*responsive*/

@media (max-width:1000px){

    .nav-options-pages{
        display: none;
    }

    .father-div-content-aplication{
        margin-left:0;
    }

    .div-nav-application-cue {
        width: 20%;          /* más espacio para el logo en móvil */
        justify-content: center; /* centrado si quieres */
        padding: 2px;
    }


    .div-nav-application-cue img {
        width: 70px;         /* reduce tamaño para que quepa */
        height: 45px;
    }
}

