/* :root{
    --header: rgb(9, 23, 228); 
    --header:  rgb(30, 30, 227)
   
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-application{
    background-color: white;
    display: flex;
    min-height: 100vh;
}

/* sidebar */
.sidebar{

    /* width: 10vw; */
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(51, 112, 180);
   
}

.sidebar a{
    color:white;
    padding:15px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-transform: none;
    font-weight:500;
    /* no hace falta  text-decoration el link lo trae por defecto */
    text-decoration: none;
}

.sweet-grey{
    background-color: rgba(51, 80, 126);
    border-radius: 5px;
}

/* rigth area */
.container-navbar{

    min-height: 60px;
    max-height: 60px;
    height: 60px;
    
    width: 100%;
    height: 60px;
    border-radius: 0px 2px 0px 2px;
    display: flex;
    align-items: center; 
    justify-content:flex-end;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(202, 210, 42); 
    background-color:#fff;
    z-index: 1000;
    padding: 0 20px;
    gap: 16px;
}

.nav-logo {
    display: none;
    align-items: center;
   
}

.nav-logo img{
    width: 130px;
    height: auto;
    object-fit: contain;
    background-color: transparent; 
}

.nav-auth {
    display: flex;
    align-items: center;
    gap: 15px; 
    padding-right: 25px; 
}

.nav-auth a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

/* botón perfil */
.user-menu {
  position: relative;
}

.user-menu > button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/* .container-content-app{
    display: flex;
    flex: 1;
    width: 100%;
} */
.father-div-content-aplication{
  width: 100%;
  min-height: 90vh; 
  padding: 20px;
  box-sizing: border-box; 
  position: relative; 
  transition: .3s ease;
  
}

.logo-sidebar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

.logo-sidebar img {
    width: 100px;
    height: auto;
    object-fit: contain;
}

/* 
Habueguer Icon


*/

.nav-icon-hamburguer{
    flex: 1;
    justify-content: flex-start;
}

/* */

@media (max-width:1200px){

    .sidebar{
        display: none;
    }

    .container-navbar{
        justify-content: space-between;
    }

    .father-div-content-aplication{
        margin-left:0;
    }

    .nav-logo {
        display: flex; 
        padding: 2px; 
    }

    .right-area{
        width: 100vw;
    }

    /* .div-nav-profile{
    .div-nav-profile{
        display: none;
    }
         
}

/* móviles pequeños */
/* @media (max-width: 640px) {

    .div-nav-application-cue {
        width: 10%;
    }

    .div-nav-profile {
        width: 50%;
        text-align: right;
    }
} */
