.nav-icon-hamburguer{
    display: none; 
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    color: black;
    
}

.div-menu-resize{
    position:fixed;
    background-color: rgb(240, 235, 235);
    display: block;
    z-index: 150;
    text-align: left;
    width: 30%;
    top: 45px;
    left: 45px;
}

.div-link-redirection{
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.div-link-redirection a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

@media (max-width: 1200px) { 

    .nav-icon-hamburguer{
        display: flex;
        margin-right: auto;
    }
}

